body{
    text-align: center;
}

.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    width: 200px;
    height: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2rem;
}
.red{
    background-color: rgb(221, 73, 73);
}
.yellow{
    background-color: rgb(239, 152, 1);
}
.green{
    background-color: rgb(30, 174, 145);
}
.blue{
    background-color: royalblue;
}
.flash{
    background-color: azure;
}
.userFlash{
    background-color: green;
}